@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-col: #15153a;
    --mid-col-transparent: #73b76237;
    --shadow-offset: .75rem;
    --border-radius: 2rem;
}

body {
    background: var(--dark-col);
    width: 100vw;
    height: 100vh;
    font-family: "Chakra Petch", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(214, 214, 214);
    display: grid;
    place-content: center;
    perspective: 500px;
    overflow: hidden;
}

.neu-panel.hidden {
    transform: rotateX(-20deg) translateY(-100%) translateZ(-200px) translate(-50%, -50%);
}

.neu-panel.active {
    transform: rotateX(0deg) translateY(0%) translateZ(0px) translate(-50%, -50%);
}

.hidden {
    pointer-events: none;
    opacity: 0;
    filter: blur(1rem);
    transform: rotateX(-20deg) translateY(-100%) translateZ(-200px);
}

*:not(:is(div)).hidden {
    transform: rotateX(-20deg) translateY(-100%) translateZ(1000px);
}

.active {
    pointer-events: all;
    opacity: 1;
    filter: blur(0rem);
    transform: rotateX(0deg) translateY(0%) translateZ(0px)
}

h1, h2, h3, p {
    filter: drop-shadow(0 .5rem .25rem rgba(0, 0, 0, 0.75));
    height: fit-content;
    transition: all 250ms ease;
}

.glow {
    position: relative;
    display: grid;
    align-items: center;
}

.glow > * {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
}

.glow > span {height: fit-content;}

.glowing-container {
    position: relative;
    border-radius: inherit;
    background: transparent;
    mix-blend-mode: color-burn;
}

.glowing-source {
    position: absolute;
    left: 100%;
    background: white;
    width: 3rem;
    height: 3.5rem;
    border-radius: 50%;
    filter: blur(1rem);
    transform: translate(-50%, -50%);
}

h1 {font-size: 4rem; font-weight: 200;}

p {
    font-size: 1.3rem; 
    font-weight: 100; 
    margin-left: 3px;
    line-height: 1.65rem;
    width: 100%;
    text-align: justify;
    transition: height 2s ease;
}

h3 {font-size: 1.75rem; font-weight: 200;}

.neu-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    min-width: 70rem;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 2.5rem;
    background: var(--dark-col);
    border-radius: var(--border-radius);
    padding: 7.5% 12.5%;
    transform-style: preserve-3d;
    transition: all 500ms ease;

    animation: slide-in 1s ease forwards;
}

button {
    background: inherit;
    border: none;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    color: inherit;
    font-family: inherit;
    font-size: 2.5rem;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: transform 2s ease,
                box-shadow 250ms ease;
    -webkit-tap-highlight-color: transparent;
}

button.embossed:hover, button.debossed:hover {
    --shadow-offset: .75rem;
}

.embossed {
    box-shadow: calc( -1 * var(--shadow-offset)) calc( -1 * var(--shadow-offset)) calc( 2.5 * var(--shadow-offset)) rgba(255, 255, 255, 0.05), 
                var(--shadow-offset) var(--shadow-offset) calc( 2.5 * var(--shadow-offset)) rgba(0, 0, 0, 0.5);
}

.debossed {
    box-shadow: inset calc( -1 * var(--shadow-offset)) calc( -1 * var(--shadow-offset)) calc( 2.5 * var(--shadow-offset)) rgba(255, 255, 255, 0.05), 
                inset var(--shadow-offset) var(--shadow-offset) calc( 2.5 * var(--shadow-offset)) rgba(0, 0, 0, 0.5);
}

button.embossed, button.debossed {
    --shadow-offset: .25rem;
}

.interactive-container.neu-panel {
    display: flex;
    position: relative;
    width: 100vw;
    min-width: unset; max-width: unset;
    height: 100vh;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
}

.press-and-hold {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    min-width: 12.5em;
    transform: translateX(-50%);
    overflow: hidden;
    font-size: 1.5rem;
    width: fit-content;
    padding: 1.5rem;
    border-radius: 1rem;
}

.press-and-hold > span {z-index: 1;}

.press-and-hold > .progress {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: translateX(var(--elapsed));
    transition: transform var(--interval) linear;
    background: var(--mid-col-transparent);
    filter: blur(1rem);
    border-radius: inherit;
}

video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    height: 80%;
}

.thank-you > span {
    font-size: 3rem;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 5vw;
    min-width: 4rem;
    aspect-ratio: 1 / 1;
    animation: loading 1s linear infinite;
}

@media (max-width: 85em) {
    .neu-panel > * {text-align: center; margin-left: 0;}
    h1 {line-height: 100%; font-size: 3rem;}
    .neu-panel.card-container, .neu-panel.thank-you {
        width: 85vw;
        min-width: unset;
    }
    button {font-size: 2rem;}
}

@media (max-width: 35em) {
    .neu-panel.card-container {
        padding: 15% 7.5%;
        max-height: 90vh;
        overflow: auto;
        scroll-behavior: smooth;
    }
    .glowing-source {
        width: 1rem;
        height: 1.5rem;
    }
    h1 {font-size: 2.5rem;}
    p {font-size: 1rem;}
    h3 {font-size: 1.5rem;}
    button {font-size: 1.75rem;}
    .press-and-hold {font-size: 1.125rem;}
    .thank-you > span {
        font-size: 1.25rem;
    }
}

@keyframes slide-in {
    from {
        transform: rotateX(100deg) translateY(-200%) translateZ(-2000px) translate(-50%, -50%);;
    }   

    to {
        transform: rotateX(0deg) translateY(0%) translateZ(0px) translate(-50%, -50%);;
    }
}

@keyframes loading {
    to {transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes glow-move {
    0% {
        left: 0%;
        top: -7.5%;
    }
    40% {
        left: 100%;
        top: -7.5%;
    }
    50% {
        left: 100%;
        top: 107.5%;
    }
    90% {
        left: 0%;
        top: 107.5%;
    }
    100% {
        left: 0%;
        top: -7.5%;
    }
    
}

/* ffmpeg -i the_trunk.webm -vf "crop=1190:1080:365:0" -c:v libvpx-vp9 -pix_fmt rgba -crf 30 -b:v 0 ../extracts_cropped/the_trunk.webm */