@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-col: #15153a;
    --shadow-offset: .75rem;
    --border-radius: 2rem;
}

body {
    background: var(--dark-col);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Chakra Petch", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(214, 214, 214);
    overflow-x: hidden;
    display: grid;
    place-content: center;
    perspective: 500px;
}

.neu-panel.hidden {
    transform: rotateX(-20deg) translateY(-100%) translateZ(-200px) translate(-50%, -50%);
}

.neu-panel.active {
    transform: rotateX(0deg) translateY(0%) translateZ(0px) translate(-50%, -50%);
}

.hidden {
    opacity: 0;
    transform: rotateX(-20deg) translateY(-100%) translateZ(-200px);
}

*:not(:is(div)).hidden {
    transform: rotateX(-20deg) translateY(-100%) translateZ(1000px);
}

.active {
    opacity: 1;
    transform: rotateX(0deg) translateY(0%) translateZ(0px)
}

h1, h2, h3, p {
    filter: drop-shadow(0 .5rem .25rem rgba(0, 0, 0, 0.75));
    height: fit-content;
    transition: all 250ms ease;
}

h1 {font-size: 4.5rem; font-weight: 200;}

p {
    font-size: 1.125rem; 
    font-weight: 100; 
    margin-left: 3px;
    line-height: 1.65rem;
    width: 100%;
    text-align: justify;
    transition: height 2s ease;
}

h3 {font-size: 1.75rem; font-weight: 200;}

.neu-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    min-width: 70rem;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 2.5rem;
    background: var(--dark-col);
    border-radius: var(--border-radius);
    padding: 7.5% 12.5%;
    transform-style: preserve-3d;
    transition: all 500ms ease;

    animation: slide-in 1s ease forwards;
}

button {
    background: inherit;
    border: none;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    color: inherit;
    font-family: inherit;
    font-size: 2.5rem;
    cursor: pointer;
    text-align: center;
    transition: all 2s ease;
}

button.embossed:hover, button.debossed:hover {
    --shadow-offset: .75rem;
}

.embossed {
    box-shadow: calc( -1 * var(--shadow-offset)) calc( -1 * var(--shadow-offset)) calc( 2.5 * var(--shadow-offset)) rgba(255, 255, 255, 0.05), 
                var(--shadow-offset) var(--shadow-offset) calc( 2.5 * var(--shadow-offset)) rgba(0, 0, 0, 0.5);
}

button.embossed, button.debossed {
    --shadow-offset: .25rem;
}

.debossed {
    box-shadow: inset calc( -1 * var(--shadow-offset)) calc( -1 * var(--shadow-offset)) calc( 2.5 * var(--shadow-offset)) rgba(255, 255, 255, 0.05), 
                inset var(--shadow-offset) var(--shadow-offset) calc( 2.5 * var(--shadow-offset)) rgba(0, 0, 0, 0.5);
}

@keyframes slide-in {
    from {
        transform: rotateX(100deg) translateY(-200%) translateZ(-2000px) translate(-50%, -50%);;
    }   

    to {
        transform: rotateX(0deg) translateY(0%) translateZ(0px) translate(-50%, -50%);;
    }
}




